/** Home Page **/
.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.loader-container img {
    width: 45px;
    height: 45px;
    animation: spin 4s linear infinite;
}

.loader-container h4 {
    margin: 8px;
}

.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
}
.water {
    background-color: #678fee;
}
.electric {
    background-color: #f7cf2e;
}
.ice {
    background-color: #98d5d7;
}
.ground {
    background-color: #dfbf69;
}
.flying {
    background-color: #a98ff0;
}
.poison {
    background-color: #a040a0;
}
.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65678;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.fa-mars {
    color: #1d4ed8;
}

.fa-venus {
    color: #ec4899;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 2rem 1rem;
    color: #fff;
    border-radius: 1rem;
    background-image: url('/assets/img/pokeball-bg.svg');
    background-repeat: no-repeat;
    background-size: 180px;
    background-position: 130% 30%;
    cursor: pointer;
    transform: scale(1);
    transition: ease-in-out transform .2s;
}

.pokemon:hover {
    opacity: .65;
    transform: scale(1.050);
}

.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;
}

.pokemon .title,
.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types,
.content.detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.content.detail .types {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
}

.pokemon .detail .types .type,
.content.detail .types .type {
    color: #fff;
    padding: .25rem 1rem;
    margin: .25rem 0;
    border-radius: 1rem;
    font-size: .625rem;
    text-align: center;
    filter: brightness(1.1);
}

.content.detail .types .type {
    font-size: .80rem;
}


.pokemon .detail img {
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: #fff;
    font-size: .825rem;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/** Home Page END **/

/** Detail Page **/
.pokemon-detail {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 2.5rem 2.5rem 0 0;
    width: 100%;
    margin-top: 8rem;
}

.pokemon-detail::before {
    content: '';
    margin: calc((15rem/2) * -1) auto 0 auto;
    height: 10rem;
    width: 10rem;
    background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pokemon-detail .tabs {
    display: grid;
    width: 100%;
    max-width: 576px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin: 0 auto;
}

.pokemon-detail .tabs-container {
    display: grid;
    width: 100%;
    max-width: 576px;
    align-items: center;
    margin: 0 auto;
    height: auto;
}

.pokemon-detail .tabs-container .detail-tab {
    width: 100%;
    height: 100%;
    display: none;
}

.pokemon-detail .tabs-container .detail-tab.active {
    display: flex;
    padding: 1rem;
}

.detail-grid-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.85rem;
    color: #475569;
}

.detail-grid-data h3 {
    color: #1e293b;
}

.detail-grid-data .grid-data {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: .75rem;
}

.detail-grid-data .grid-data.with-chart {
    grid-template-columns: 1fr 0.5fr 2.5fr;
}

.detail-grid-data .grid-data .label {
    color: #64748b;
}

.detail-grid-data .grid-data .data {
    font-weight: bold;
    color: #1e293b;
}

.detail-grid-data .grid-data .data-chart-bar {
    display: block;
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #64748b;
}

.detail-grid-data .grid-data .data-chart-bar .chart-data {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 4px;
    border-radius: 2px;
}

.pokemon-detail .tabs .tab-item {
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid #cbd5e1;
    color: #cbd5e1;
    font-size: 0.85rem;
    font-weight: 700;
}

.pokemon-detail .tabs .tab-item.active {
    border-bottom: 2px solid #1e40af;
    color: #1e293b;
}

.evolution-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.evolution-list figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.65rem;
}

.evolution-list figure img {
    width: 100%;
    max-width: 280px;
    background-image: url('/assets/img/pokeball.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.evolution-list figure:not(:last-child)::after {
    font: var(--fa-font-solid);
    content: '\f107';
    font-size: 2.125rem;
    color: #1e293b;
}

.evolution-list figure legend {
    font-weight: bold;
    font-size: 1.5rem;
    color: #1e293b;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }

    .pokemons .detail img {
        max-width: 62.5%;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pokemons .detail img {
        max-width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .pokemon {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .pokemon-detail {
        border-radius: 2rem 2rem 1rem 1rem;
    }

    .pokemon-detail .tabs .tab-item {
        font-size: 1.25rem;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
